@use "@juki-team/base-ui/styles/mixins" as utils;

body {
  margin: 0;
  //overflow: visible;
  
  #juki-app {
    //overflow: auto !important;
  }
}

:root {
  --max-read-width: 80ch;
  --max-view-width: 100ch;
}

.read-width {
  max-width: var(--max-read-width);
}

.view-width {
  max-width: var(--max-view-width);
}

.jk-breadcrumb {
  border-color: var(--t-color-highlight-light);
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
}

.hover-highlight:hover {
  background: var(--t-color-highlight-light);
}

.jk-row.gap-borders {
  box-sizing: border-box;
  padding-left: var(--gap);
  padding-right: var(--gap);
}

.jk-row.gap-full-borders {
  box-sizing: border-box;
  padding: calc(var(--gap) / 2) var(--gap);
}

.jk-col.gap-borders {
  box-sizing: border-box;
  padding-top: var(--gap);
  padding-bottom: var(--gap);
}

.jk-col.gap-full-borders {
  box-sizing: border-box;
  padding: var(--gap) calc(var(--gap) / 2);
}

.jk-code-viewer-context {
  width: 100%;
  overflow: auto;
  height: calc(var(--100VH) - 200px);
  
  .language-dot {
    overflow: initial !important;
  }
}

.word-break-break-word {
  word-break: break-word;
}
